@import url("../../index.css");

.container-categories{
    padding: .5rem;
    display: flex;
    flex-direction: column;
    
}
.categories__title{
    margin: 1rem 0 1.7rem .4rem;
}
.categories__body{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 98%;
}
.btn-category{
    display: block;
    border: solid 1px var(--primary-color);
    height: 3rem;
    margin: 0 0 .3rem 0;
    font-size: var(--normal-font);
    color: var(--txt-black);
    font-weight: var(--font-normal);
    text-transform: capitalize;
}
.btn-category:hover{
    transform: scale(.99);
    background-color: var(--primary-color);
    color: var(--txt-white-nav);
}
