@import url("../../index.css");

.product__recommend{
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    margin: .5rem auto;
    padding: .3rem;
}
/* .product__header{
    width: 100%;
} */
.product__header img{
    width: 100%;
    height: 100%;
}
.product__recommend h3{
    font-size: var(--tiny-font);
    color: var(--txt-sub-color);
}
.product__recommend h2{
    font-size: var(--normal-font);
    color: var(--txt-color);
}
.product__recommend span{
    font-size: var(--normal-font);
    color: var(--txt-color);
}
.product__recommend:hover{
   border: 1px solid var(--txt-color);
   cursor: pointer;
}
@media (max-width: 768px) {
.product__recommend{
    width: 100% ;
    /* height: 10rem; */
    text-align: center;
}
.product__header{
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
}
}