@import url("../index.css");

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  padding: 40px;
  transform: translate(-50%, -50%);
  /* background: linear-gradient(#e25d10, #a35b31); */
  background-color: var(--bg--color);
  box-sizing: border-box;
  box-shadow: 0 15px 25px var(--bs-color);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: var(--txt-black);
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--txt-color);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--txt-color);
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: var(--txt-color);
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -25px;
  left: 0;
  color: var(--txt-sub-color);
  font-weight: bold;
  font-size: 18px;
}

.login-box form button {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 10px;
  text-align: center;
  color: var(--txt-color);
  border: 1px solid var(--primary-color);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px

}

.login-box button:hover {
  background: #66cf51;
  color: var(--txt-white-nav);
  border-radius: 5px;
  box-shadow: 0 0 5px #66cf51,
              0 0 25px #66cf51,
              0 0 50px #66cf51,
              0 0 100px #66cf51;
}

.login-box button  {
  position: absolute;
  display: block;
}

