@import url('../index.css');

.product__detail{
    width: 100%;
    box-shadow: 0px 0px 5px 5px var(--bs-color);
    display: grid;
    height: 39rem;
    grid-template-columns: 49% 49%;
    gap: 2;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 80px;
}
.h3-title{
    margin: 1rem auto;
    font-family: 'Times New Roman', Times, serif;
}
.product__detail__one{

    display: flex;
    flex-direction: column;
  
}
.product__detail__one span{
    margin: 1rem 0 0 1rem;
    cursor: pointer;
    color: var(--txt-color)
}
.product__detail__one span a{
 
    color: var(--txt-color)
}
.product__detail__one span i{
    color: var(--txt-color)
}
.product__detail__img{
    margin: 1rem 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}
.product__detail__img img{
    width: 90%;
    height: 20rem;
    
}
.product__detail__two{
    /* background-color: aqua; */
    display: flex;
    width: 100%;
    flex-direction: column;
}
.product__description{
    /* background-color: red; */
    width: 95%;
    height: 100%;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
}
.product__description h3{
    margin: 2rem 0 0 0;
    font-size: var(--normal-font);
    color: var(--txt-sub-color);
}
.product__description h2{
    /* background-color: red; */
    margin: .1rem 0 0 0;
    /* height: 4rem; */
    color: var(--txt-color);
    font-size: var(--big-font);
}
.product__description p{
    margin: 2rem 0 0 0;
    text-align: justify;
    color: var(--txt-color);
}
.product__description p:nth-child(4){
    font-size: var(--big-font);
    color: var(--txt-color);
    font-weight: var(--font-bold);
}
.description__footer{
    margin: 3rem 0 0 0; 
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */
}
.description__footer .btn-buy{
    margin: .5rem auto;
    /* background-color: aqua; */
    width: 14rem;
    background-color: var(--primary-color);
    color: var(--txt-white-nav);
    padding: 1rem;
    border-radius: 40px;
    font-size: var(--normal-font);
    font-weight: var(--font-bold);
}
.btn-buy:hover{
   transform: scale(.99);
   
}

.product__quantity  {
    margin: 0 0 2rem 0;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.product__quantity button {
    width: 3rem;
    background-color: var(--primary-color);
    border-radius: 40px;
    color: var(--txt-white-nav);
}
.product__quantity span {
    /* width: 3rem; */
   color: var(--txt-color);
   font-weight: var(--font-bold);
}
@media (max-width: 940px) {
    .product__detail{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .product__description h3{
        /* background-color: red; */
        font-size: var(--tiny-font);
    }
    .product__description h2{
        /* background-color: red; */
        font-size: var(--normal-font);
    }
    .product__description p{
        margin: 1rem 0 0 0;
        text-align: justify;
        color: var(--txt-color);
    }
    .product__description p:nth-child(4){
        font-size: var(--normal-font);
        

    }
    .product__quantity  {
        margin: 0 auto;
      
    }
    .description__footer .btn-buy{
      
        width: 90%;

    }
}
@media (max-width: 768px) {
    
   
    .product__detail__img{
      
        width: 80%;
        margin: 0 auto;
       
    }
    .description__footer{
        margin: 1rem 0 0 0; 
        /* background-color: red; */
    }
    .product__description p:nth-child(4){
        font-size: var(--normal-font);
        

    }
    .product__quantity  {
        margin: 0 auto;
      
    }
    .description__footer .btn-buy{
      
        width: 90%;

    }
}

