.profile  {
    font-size: 17px;
    padding: 200px 0;
    color: rgb(255, 255, 255);
   display: grid;
   place-items: center;
   place-content: center;
    
}

.profile_data {
    display: grid;
    grid-template-rows: repeat(4,1fr);
    place-items: center;
    width: 300px;
    height: 350px;
    background-color: #1762ec;
    border: #000000 2px solid;
    border-radius: 20px;
    box-shadow: #000000 3px 3px 4px 2px;
}